<div class="card-body" align="center">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="row">
        <div class="col-6" style="border-right:1px solid; border-color: #34465d">
          <i [class]="iconClass" [ngStyle]="getStyle()"></i>
        </div>
        <div class="col-6">
          <h5 class="card-title">{{count}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{title}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>