<!-- <h4>
  User Id is :{{id}}
</h4> -->
<!-- <app-sidenav></app-sidenav> -->
<div class="maindiv">
  <app-headercomponent [title]="'USER PORTFOLIO'"></app-headercomponent><br>
  <div class=" container card" style="width:25rem">
    <div class="card-body ">
      <form>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control shadow p-3 mb-1 bg-white rounded" placeholder="First Name">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control shadow p-3 mb-1 bg-white rounded" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control shadow p-3 mb-1 bg-white rounded" placeholder="Enter email">
          <small id="emailHelp" class="form-text" style="color:#00AFF0">We'll never share your email with
            anyone else.</small>
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control shadow p-3 mb-1 bg-white rounded" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label>Designation</label>
          <input type="text" class="form-control shadow p-3 mb-1 bg-white rounded" placeholder="Enter Designation">
        </div>
        <div class="form-group">
          <label>Status</label>
          <input type="text" class="form-control shadow p-3 mb-1 bg-white rounded" placeholder="Enter Status">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>