<div class="card">
  <div class="card-body" align="center">
    <table class="table  table-striped" style="border:1px solid">
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of tableHeaders">{{header}}</th>
          <!-- <th scope="col">S.No</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">email</th>
          <th scope="col">Phone</th>
          <th scope="col">Designation</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data;  let i=index;">
          <td>{{i+1}}</td>
          <td *ngFor="let key of getKeys()">{{user[key]}}</td>
          <!-- <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.designation}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>